body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

#left-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25%;
  z-index: 2;
}

#left-panel img {
  width: 100%;
  border-radius: 10px;
}

#right-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25%;
  z-index: 2;
  text-align: right;
}

#lyrics {
  font-size: 18px;
  line-height: 1.5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
